# 2. **SFPL Aufgabe**

In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('./data/Library_Usage.csv')
df.head()

/var/folders/23/1xsw6wnj7zx686gppgdjd7900000gn/T/ipykernel_28445/3176886277.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/Library_Usage.csv')

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False

In [22]:
# df = df.rename(columns=lambda x: x.replace(' ', '_'))
# df

In [23]:
len(df)

436290

## Wie viele Merkmale besitzt der Datensatz?

In [8]:
len(df.columns)

14

## Wie groß ist die Stichprobengröße des Datensatzes?

*"each row is a patron record"*

In [25]:
len(df)

436290

## Wer oder was sind die Merkmalsträger?
→ **active patrons**:
* a) patrons with unexpired library cards
* b) patrons who had circulation activity within the last three years.

> An den statistischen Einheiten, die in eine Stichprobe gelangt sind, werden interessierende Größen beobachtet, die sogenannten Merkmale oder auch Variablen. Man spricht daher häufig auch von den statistischen Einheiten als Merkmalsträgern.

## Von wann bis wann wurden die Daten erhoben?

* Date Created: December 2, 2016
* Data Last Updated: August 7, 2023

## Wie lässt sich die Grundgesamtheit beschreiben? Handelt es sich um eine Vollerhebung?

Nein, da nur Bibliotheksnutzer*innen verzeichnet sind, die 1. in den letzten 3 Jahren eine circulation activity hatten und 2. einen aktiven Bibliotheksausweis besitzen müssen

## Welche Merkmale sind stetig? Welche diskret?

* **diskrete Merkmale**:
    - Patron Type Code
    - Patron Type Definition
    - Age Range `?`
    - Home Library Code
    - Home Library Definition
    - Circulation Active Month
    - Circulation Active Year
    - Notice Preference Code
    - Notice Preference Definition
    - Provided Email Address
    - Year Patron Registered
    - Within San Francisco County

* **stetige Merkmale**:
    - Total Checkouts
    - Total Renewals

In [33]:
df.head(2)

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False

In [36]:
df['Age Range'].unique()

array([nan, '45 to 54 years', '55 to 59 years', '60 to 64 years',
       '25 to 34 years', '35 to 44 years', '20 to 24 years',
       '75 years and over', '10 to 19 years', '0 to 9 years',
       '65 to 74 years'], dtype=object)

In [37]:
df['Home Library Definition'].unique()

array(['Bayview', 'Excelsior', 'Noe Valley', 'Ocean View', 'Ortega',
       'West Portal', 'Main', 'Glen Park', 'Anza', 'Presidio', 'Portola',
       'North Beach', 'Golden Gate Valley', 'Richmond', 'Park', 'Marina',
       'Sunset', 'Potrero', 'Mission', 'Eureka Valley', 'Merced',
       'Chinatown', 'Mission Bay', 'Western Addition', 'Bernal',
       'Visitacion Valley', 'Parkside', 'Ingleside', 'Bookmobile', nan],
      dtype=object)

In [38]:
df['Notice Preference Code'].unique()

array(['z', nan], dtype=object)

## Welchem Skalenniveau entsprechen die einzelnen Merkmale (Nominal-, Ordinal- oder Metrische Skala)?

* **Nominalskala**:
    - Patron Type Code
    - Patron Type Definition
    - Home Library Code
    - Home Library Definition
    - Notice Preference Code
    - Notice Preference Definition
    - Provided Email Address
    - Within San Francisco County

* **Ordinalskala**:
    - Circulation Active Month
    - Circulation Active Year
    - Year Patron Registered

* **Metrische Skala**:
    - Age Range `?`
    - Total Checkouts
    - Total Renewals

## Enthält der Datensatz fehlende Werte?

In [45]:
# Get df without missing values in any of its rows
df2 = df.dropna()

# Calculate num of rows with missing values
rows_na_values = len(df) - len(df2)
rows_na_values

78452

## Handelt es sich um Querschnitts-, Längsschnitts- oder Paneldaten?

→ **Längsschnittstudie**, da:
> Zusammenfassend kann man also sagen, daß bei einer Querschnittstudie mehrere Objekte zu einem Zeitpunkt, bei einer Zeitreihe ein Objekt zu mehreren Zeitpunkten und bei einer Längsschnittstudie mehrere und zwar dieselben Objekte zu mehreren Zeitpunkten beobachtet werden.